<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs', { title }) %>
</head>

<body>
  <div class="d-flex">
    <%- include('./partials/sidebar.ejs') %>
    <main class="d-flex flex-column align-items-center" style="width: 100%">
      <h1 class="fw-bold my-3"><%= title %></h1>
      <!-- Alert message -->
      <div>
        <% if(alert.message != "") { %>
        <div class="alert alert-<%= alert.status %>" role="alert">
          <%= alert.message %>
        </div>
        <% } %>
      </div>

      <div class="table-container" style="width: 80%">
        <!-- Button modal add book -->
        <button type="button" class="btn btn-outline-primary mb-3"
            data-bs-toggle="modal" data-bs-target="#addModal">
          <i class="fs-5 bi bi-plus"></i>
        </button>

        <!-- Modal add book -->
        <%- include('./partials/books/bookModal.ejs', { book: [], title: "Add new book" }) %>

        <!-- Table of data -->
        <table class="table table-bordered align-middle">
          <thead>
            <tr class="text-center">
              <th>No</th>
              <th>Title</th>
              <th>Author</th>
              <th>Detail</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% let i = 1; %> <% books.forEach(book => { %>
            <tr>
              <td class="text-center"><%= i %></td>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
              <td class="text-center">
                <!-- Button modal detail book -->
                <button type="button" class="btn btn-outline-success btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#detailBook-<%= book._id %>">
                  <i class="bi bi-three-dots"></i>
                </button>

                <!-- Modal detail book -->
                <%- include('./partials/books/detailBook.ejs', {book, title: "Detail " + book.title}) %>
              </td>

              <td class="text-center d-flex flex-row align-items-center justify-content-center"
                  style="gap: 5px">
                <!-- Button modal edit book  -->
                <button type="button" class="btn btn-outline-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal-<%= book._id %>">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <!-- Modal edit book -->
                <%- include('./partials/books/bookModal.ejs', { book, title: "Edit " + book.title }) %>

                <!-- Button delete book -->
                <form action="/admin/books/<%= book._id %>?_method=DELETE"
                    method="post">
                  <button type="submit" class="btn btn-outline-danger btn-sm"
                      onclick="return confirm('Delete <%= book.title %>?');">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </form>
              </td>

            </tr>
            <% i++; %>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>

  <%- include('./partials/js.ejs') %>
</body>

</html>