<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs', { title }) %>
</head>

<body>
  <div class="d-flex">
    <%- include('./partials/sidebar.ejs', session) %>
    <main class="d-flex flex-column align-items-center" style="width: 100%">
      <h1 class="fw-bold my-3"><%= title %></h1>
      <!-- Alert message -->

      <% if (alert != undefined) { %>
      <div>
        <% if (alert.message != "") { %>
        <div class="alert alert-<%= alert.status %>" role="alert">
          <%= alert.message %>
        </div>
        <% } %>
      </div>
      <% } %>

      <div class="table-container" style="width: 80%">
        <div id="buttons" class="d-flex flex-row gap-1">
          <% if (session.role == "admin" && onReport == null) { %>
          <!-- Button modal add user -->
          <button type="button" class="btn btn-outline-primary mb-3"
              data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="fs-5 bi bi-plus"></i>
          </button>
          <% } %>
        </div>
        <!-- Modal add transaction -->
        <%- include('./partials/transactions/addTransactionModal.ejs', { title: "Add new transaction" }) %>

        <% if (onReport != null) { %>
        <!-- Button modal filter -->
        <button type="button" class="btn btn-outline-success mb-3"
            data-bs-toggle="modal" data-bs-target="#reportModal">
          <i class="bi bi-filter"></i>
        </button>

        <!-- Modal filter -->
        <%- include('./partials/report/reportModal.ejs', { title: "Filter" }) %>
        <% } %>

        <!-- Table of data -->
        <table class="table table-bordered align-middle">
          <thead>
            <tr>
              <% if (session.role == 'admin') { %>
              <td colspan="6" class="text-end pe-4 fw-bold">
                Total entries: <%= transactions.length %>
                <br>
                <% let totalIncome = 0 %>
                <% transactions.forEach(transaction => { %>
                <% totalIncome += parseFloat(transaction.total) %>
                <% }) %>

                Total incomes:
                <%= totalIncome.toLocaleString("id-ID", {style:"currency", currency:"IDR"}) %>
              </td>
              <% } else { %>
              <td colspan="5" class="text-end pe-4 fw-bold">
                Total entries: <%= transactions.length %></td>

              <br>
              <% let totalIncome = 0 %>
              <% transactions.forEach(transaction => { %>
              <% totalIncome += parseFloat(transaction.total) %>
              <% }) %>

              Total incomes:
              <%= totalIncome.toLocaleString("id-ID", {style:"currency", currency:"IDR"}) %>
              <% } %>
            </tr>
            <tr class="text-center">
              <th>No</th>
              <th>Member</th>
              <th>Timestamp</th>
              <th>Total</th>
              <th>Details</th>
              <% if (session.role == "admin") { %>
              <th>Action</th>
              <% } %>
            </tr>
          </thead>
          <% if (transactions.length == 0) { %>
          <tbody>
            <tr>
              <% if (session.role == 'admin') { %>
              <td colspan="6" class="text-center">No entries</td>
              <% } else { %>
              <td colspan="5" class="text-center">No entries</td>
              <% } %>
            </tr>
          </tbody>
          <% } %>
          <tbody>
            <% let i = 1; %> <% transactions.forEach(transaction => { %>
            <tr>
              <td class="text-center">
                <%= i %>
              </td>
              <td>
                <% members.forEach(member => { %>
                <% if (transaction.memberId == member._id.toString()) { %>
                <%= member.username %>
                <% } %>
                <% }) %>
              </td>
              <td>
                <%= moment(transaction.createdAt); %>
              </td>
              <td class="text-end">
                <%= transaction.total.toLocaleString("id-ID", {style: "currency", currency:"IDR"}) %>
              </td>
              <td class="text-center">
                <!-- Button modal detail transaction -->
                <button type="button" class="btn btn-outline-success btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#detailTransaction-<%= transaction._id %>">
                  <i class="bi bi-three-dots"></i>
                </button>

                <!-- Modal detail transaction -->
                <%- include('./partials/transactions/detailTransaction.ejs', { transaction, cashiers, members, books, title: "Detail Transactions" }) %>
              </td>

              <% if (session.role == "admin") { %>
              <td class="text-center">
                <div class="d-flex flex-row align-items-center
                    justify-content-center" style="gap: 5px">

                  <!-- Button modal edit transaction  -->
                  <button type="button" class="btn btn-outline-warning btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#editModal-<%= transaction._id %>">
                    <i class="bi bi-pencil-fill"></i>
                  </button>

                  <!-- Modal edit transaction -->
                  <%-  include('./partials/transactions/editTransactionModal.ejs', { transaction, cashiers, members, books, title: "Edit transaction" }) %>

                  <!-- Button delete transaction -->
                  <form
                      action="/transactions/<%= transaction._id %>?_method=DELETE"
                      method="post">
                    <button type="submit" class="btn btn-outline-danger btn-sm"
                        onclick="return confirm('Delete transaction?');">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </form>
                </div>
              </td>
              <% } %>

            </tr>
            <% i++; %>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>

  <%- include('./partials/js.ejs') %>
</body>

</html>