<div class="modal fade" id="detailTransaction-<%= transaction._id %>"
    data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"><%= title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table text-start">
          <tr>
            <td class="fw-bold" colspan="2">Timestamp</td>
            <td colspan="2"><%= moment(transaction.createdAt).format("LLLL") %>
            </td>
          </tr>
          <tr>
            <td class="fw-bold" colspan="2">Member</td>
            <% members.forEach(member => { %>
            <% if (transaction.memberId == member._id.toString()) { %>
            <td colspan="2">
              <%= member.name.firstName + " " + member.name.lastName %>
              @<%= member.username %></td>
            <% } %>
            <% }) %>
          </tr>
          <tr>
            <td class="fw-bold" colspan="2">Cashier</td>
            <% cashiers.forEach(cashier => { %>
            <% if (transaction.cashierId == cashier._id.toString()) { %>
            <td colspan="2">
              <%= cashier.name.firstName + " " + cashier.name.lastName %>
              @<%= cashier.username %></td>
            <% } %>
            <% }) %>
          </tr>
          <tr>
            <td class="fw-bold text-center" colspan="4">Details</td>
          </tr>
          <tr>
            <td class="fw-bold">Book</td>
            <td class="fw-bold">Price (Rp)</td>
            <td class="fw-bold">Disc (%)</td>
            <td class="fw-bold">Qty</td>
          </tr>
          <% transaction.details.forEach(detail => { %>
          <tr>
            <% books.forEach(book => { %>
            <% if (detail.bookId == book._id.toString()) { %>
            <td><%= book.title %></td>
            <% } %>
            <% }) %>
            <td>
              <%= detail.price.toLocaleString("id-ID", {style:"currency", currency:"IDR"}) %>
            </td>
            <td><%= detail.discount %>%</td>
            <td><%= detail.quantity %>x</td>
          </tr>
          <% }) %>
          <tr>
            <td colspan="2" class="fw-bold">Total</td>
            <td colspan="2" class="fw-bold text-end">
              <%= transaction.total.toLocaleString("id-ID", {style:"currency", currency:"IDR"}) %>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>