<div class="modal fade" id="detailBook-<%= book._id %>" data-bs-keyboard="false"
    tabindex="-1">
  <div
      class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"><%= title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table text-start">
          <tr>
            <td class="fw-bold">Title</td>
            <td><%= book.title %></td>
          </tr>
          <tr>
            <td class="fw-bold">Author</td>
            <td><%= book.author %></td>
          </tr>
          <tr>
            <td class="fw-bold">Publisher</td>
            <td><%= book.publisher %></td>
          </tr>
          <tr>
            <td class="fw-bold">Publication Year</td>
            <td><%= book.publicationYear %></td>
          </tr>
          <tr>
            <td class="fw-bold">Number of Pages</td>
            <td><%= book.numberOfPages %></td>
          </tr>
          <tr>
            <td class="fw-bold">Genre</td>
            <td><%= book.genre.join(", ") %></td>
          </tr>
          <tr>
            <td class="fw-bold">Price</td>
            <td>
              <%= book.price.toLocaleString("id-ID", {style:"currency", currency:"IDR"}) %>
            </td>
          </tr>
          <tr>
            <td class="fw-bold">Stock</td>
            <td><%= book.stock %></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>